


<div class="bottom_link">

  <%= link_to '继续发布货源', stock_cargos_path,:class=>"page_navi_link" %>

<a class="page_navi_link" href="/cargos/index/配车">正在配车</a>
<a class="page_navi_link" href="/cargos/index/请求成交">等待车主确认成交</a>
<a class="page_navi_link" href="/cargos/index/成交">已经成交</a>
<a class="page_navi_link" href="/cargos/index/过期">过期货源</a>
<a class="page_navi_link" href="/cargos/">全部货源</a>

</div>
