
<%#coding:utf-8%>

<div class="bottom_link">

<a class="page_navi_link" href="/cargos/index/peiche">正在配车(<%=Ustatistic.first(:conditions=>{:user_id=>session[:user_id]}).valid_cargo||0%>)</a>
<a class="page_navi_link" href="/cargos/index/ischenjiao">正在成交</a>
<a style="margin-right: 50px" class="page_navi_link" href="/cargos/index/chenjiao">已成交</a>
<!--<a class="page_navi_link" href="/cargos/index/过期">过期货源</a>
<a class="page_navi_link" href="/cargos/">全部货源</a>-->
  <%= link_to '继续发布货源', stock_cargos_path,:class=>"page_navi_link" %>
<a class="show_float"  href="/stock_cargos/new">添加新的货物</a>

</div>
<p> <%=flash[:notice]%></p>
