
<p id="notice"><%= notice %></p>

<%#=render :template=>'line_ads/show',:layout=>nil %>

<%if @cargo[:from_site]=="quzhou"%>
<%=render "qzshow"%>
<%elsif @cargo[:from_site]=="tf56"%>
<%=render "tf56show"%>
<%else @cargo[:from_site]=="local" %>
<%=render "localshow"%>
<%end%>