<%#coding:utf-8%>
<div class="bottom_link">

<%= link_to '继续发布车源', stock_trucks_path,:class=>"page_navi_link" %>

<a class="page_navi_link" href="/trucks/index/配货">正在配货(<%=Ustatistic.find_by_user_id(session[:user_id]).valid_truck||0%>)</a>
<a class="page_navi_link" href="/trucks/index/请求成交">货主请求成交</a>
<a class="page_navi_link" href="/trucks/index/已成交">已经成交</a>
<!--<a class="page_navi_link" href="/trucks/index/过期">过期车源</a>
<a class="page_navi_link" href="/trucks/">全部车源</a>-->
 <a class="page_navi_link" href="/stock_trucks/new">新增车子</a>

</div>
<p> <%=flash[:notice]%></p>
