<h2><%=@company_name%>,您好！</h2>


<div class="user_announce">
  <h1><a href="http://w090.com">欢迎访问物流零距离-W090.com</a></h1>
<p>轻松注册后我能够：</p>
<p>免费搜索/发布大量的 货 源信息</p>
<p>免费搜索/发布大量的 车 源信息</p>
<p>你还可以在线议价和交易.</p>
<p>网络让货主和车主零距离！</p>
<p style="font-size:smaller;margin-left: 50px;">-全聚通网络技术有限公司倾情奉献</p>


</div>
<p><%=@exception%></p>