
.show_form {
    background-color:rgb(236,245,255);
    padding-top:  1em;
}

.stock_truck_new{
    width:50%;
}

.show_form .field,.actions {
    width: 95%;
    clear: left;
    margin: 0; 
    padding: 5px 0 8px 0; 
    padding-left: 15px; /*width of left column containing the label elements*/
    margin-right: 15px; /*width of left column containing the label elements*/
  /*  height: 1%;*/
}

.show_form .actions
{
    padding-top: 20px;
}


.show_form .actions input
{
    width:120px;
    height: 50px;
   /* margin-left: 120px;*/
     font-weight: bold;
     font-size:larger;
     margin-top: 20px;
}
/*
div.sc_field label,div.sc_field span{
     width:120px;
     height: 50px;
     font-weight: bold;
     font-size:larger;
     text-align: center;
}
*/
.show_form  .field label{
      font-weight: bold;
      display:-moz-inline-stack;
     /*width: 110px; width of labels. Should be smaller than left column (155px) to create some right margin*/
    /* width:50%;*/
     width:20%;
     display:inline-block;
     margin-left:10px;
}

#cargo_new .field label,#truck_new .field label{
      font-weight: bold;
      display:-moz-inline-stack;
      width:5%;
      display:inline-block;
      margin-left:10px;
}
/*
div.stockcargo_new .field label{
     width:30%;
}
*/
/* for email reminder label*/
#register_email
{
    /* width:100%;*/
}


.show_form textarea {
    display:-moz-inline-stack;
    width: 80%; /*width of labels. Should be smaller than left column (155px) to create some right margin*/
    display:inline-block;
    margin-left: 10px;
}

.show_form input,.show_form select { /*width of text boxes. IE6 does not understand this attribute*/
  margin-left: 10px;
  /* width:80%;*/
  height:20px;
}

div.field select {
     height:25px;
}
.stock_truck_new field select {
      height:30px;
}
#quote_truck_id {
    height:30px;
}

#login #email,#login #password{
    width:50%;
}

div.stockcargo_new .field input{
     width:50%;
}


.show_form .login_button {
     margin-left: 30%;
}
/*
div.stock_cargo_new .field select{
     width:50%;
    
}
 */
/*.threepxfix class below: 
Targets IE6- ONLY. Adds 3 pixel indent for multi-line form contents. 
to account for 3 pixel bug: http://www.positioniseverything.net/explorer/threepxtest.html 
*/ 
 
* html .threepxfix{ 
    margin-left: 3px; 
}


.form_main {

   border: 0px solid #666666;
}


.form_notes {

  border: 0px solid #666666;

}

 .show_form  label.error {
  font-weight: bold;
  color: #b80000;  
  width: 210px;
}



/* 浮动模块设置*/
#float_show {
    background-color:#D4E4FF;
    border: 1px solid;
    border-color:blue;
   position:absolute;
    z-index: 100;
     margin-right: -3px;
}

#float_load {
 display: inline;
 margin-right: -3px;
 
}

#float_show2 {
    padding: 3px;
    border: 1px solid;
    border-color:blue;
    background:white;
    position:absolute;
    z-index: 101;
}

.float_close,.float_close2 {
    margin-bottom: 5px;
    font-size: larger;
   /* float:left;*/
    display:block;
    background-color:#D4E4FF;
    
}

div.form_header{
 background-color:#D4E4FF;
 margin-top:20px;margin-left: auto; margin-right: auto; text-align:center;

}

.show_header{ background-color:#D4E4FF;
margin-top:20px;margin-left: auto; margin-right: auto; text-align:center
}


/*new form  style*/
#login,.user_new,.user_contact_new,.company_new{
    margin: 50px;
    background-color:#D4E4FF;
    font-size:110%;
    width:40%;
    border-color:blue;
    margin-left:10px;
    border: 1px solid;
    border-color:hsl(218, 100%, 88%);
}


.company_new{
    width:60%;
}

.stock_cargo_new,#cargo_new,#truck_new{
   /* width:100%;*/
    background-color:#D4E4FF;
}

/*show  common*/
.show_stock_cargo{
     background-color:rgb(236,245,255);
   /*  width:100%;*/
}

.title{
    margin-top: 3em;
    font-size:larger;
}
/*cargo show*/

#cargo_show,.stock_truck_show,#pw_reset_request{
    background-color:rgb(236,245,255);
}

#cargo_show p label,#truck_show p label{
 color:inherit;
 font-size: larger;
 font-weight: bold;
}



/*for form header*/

/*for user login form*/
/*already define in #login*/
div#login {
   width:50%;
}

div.user_new{
     width:60%;
}



div#login form label{
    width: 100%;
}

div#login form label[for="remember_me"]{
  color:blue;
   width:80%;
}
div#login form input#remember_me{
width:20px;;margin-left: 10px;
display:inline;
text-align: left;
}

#pw_reset_request{
    width:50%;
}

.form_header h2{margin:0px;padding: 0px;}

#cargo_cargo_weight,#cargo_cargo_bulk{
    width: 50px;    
}
#stocktruck_edit .field2 input,#inquery_price,#quote_price { width: 80px;   }

#error_explanation{color:red;}

#stockcargo_big_category{width: 150px;border: 1px;border-style: solid;}
div.sc_field{margin-top:10px;}
.data_list li {list-style-type:none;text-align: left;}