/* 
    Document   : g1
    Created on : 2010-6-22, 22:17:45
    Author     : w22812
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
    border-right-width:1px;
}

body {
    font-size: 16px;
    margin:0px auto;
    text-align: center;
}

#sheader {
    padding: 5px;    
    width:100%;

        text-align: left;
}
/*
#guser {
    margin-top:10px;
    padding: 5px;
}
*/


h1,h2,h3{
    margin-top:5px;
    margin-left:5px;
}


div.content {
    width:100%;
  
}

#show {
    background-color: #F2F2F2;
    width:100%;
      padding-top: 10px;
 
 
}

.data_list{
    padding: 3px;
    border: 2px solid;
    border-color:blue;
    background-color: white;
    position: absolute;
    z-index: 1001;
}


.highlight_background {
    background-color:#ffcc00;
    font-size:120%;
}

div.user_announce{
    float:left;
    padding-left: 20px;
    width: 30%;
    height: 600px;
    text-align: left;

}


#user_form{
    float:left;
    width: 50%;
    height: 600px;
}


.form_error{
    border-color:red;
}

#notice{
    color:red;
    top:5px;
}

td a {
    font-weight:normal;
}

a.menu
{
    font-weight: normal;
}


#footer {
    display:inline;
    /*
    margin-top:50px;
    margin-bottom: 50px;
    float:left;*/
    text-align:center;
}
/*not work*/
#footer a {

    margin-left:10px;
    margin-right:10px; 

    /* text-align:center;*/
}


#footer p {
    margin:auto;
    display:inline;
}

.truck_bottom_link a,.cargo_bottom_link a {
    padding-right: 10px;
}

div.bottom_link a {
    padding-right: 10px;
}

.companyshow div{
    margin-top: 10px;
}

.companyabout p{
    width:50%;
    margin-left: 5%;
}

#search {
    margin-left: 20px;
}

div.feedback_form{

    margin-left: 120px;
}


#stocktruck_edit {

}
div.public_view {
    margin-top:30px;
    margin-bottom: 20px;
}

.field2 select{
    height:25px;
}

/* for float div css*/
a.float_close2,a.float_close{text-align: right;}
div.city_title {text-align: left;}

/*for user login*/
#login label,#login .field,#login .actions{text-align: left;}

div.stock_cargolist,div.stock_trucklist{margin-right: 20%;}