/* 
    Document   : city
    Created on : 2010-4-11, 14:04:33
    Author     : w22812
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#navi {
    text-align: left;
    border-color: #cb8ef7;
    border-top-style: solid;
    border-top-width: 1px;
    padding-top: 10px;
 }


#navi a{
    color:white;
    font-size:large;
    font-weight:bold;
    text-decoration: none;
}
table.navi tr{
    padding-top: 2px;
    padding-bottom: 2px;
}

table.navi tr td{
padding: 5px;
}
/*
#navi table tr td a div{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
*/

.navi_hover{
     background-color:#D4E4FF;
}

.navi_active {
 
  background-color:inherit;
  font-weight: bold;
}

.navi_active div {
  background-color:#6B90DA;
  color:white;
}

#head_line{border:1px solid #9AAFE5;}

#show table {width:auto;margin: auto;}  /* this is important*/

#show table tr,#float_show table tr { background:white;;border:none;border-bottom: 1px solid silver;}
#show table th{text-align:center;margin-left: 20px;margin-top: 0px;padding-top: 0px;background:#E6EEF7;}
#show table tr td {text-align:center;margin-left: 20px;padding:.5em;margin-top: 20px;border:none;}

#navi table tr td.navi_huo{background-color: #9b18fb;}
#navi table tr td.navi_che{background-color:#7913c4;}
#navi table tr td.navi_user{background-color:#440c6c;}
table.navi tr td {background-color:#440c6c;}