/* 

	TableCloth	
	by Alen Grakalic, brought to you by cssglobe.com
	
*/

/* general styles */


table, td{
	font:100% Arial, Helvetica, sans-serif; 
}

table{
      /* width:80%*/
      width:auto;
      border-collapse:collapse;
      margin:1em 0;     
}
div.table_header {

  /*  padding: 5px;*/
    text-align:left;
    background-color: #EBEFF9;

}

th{text-align:center;margin-left: 20px;margin-top: 0px;padding-top: 0px;}
td{text-align:center;margin-left: 20px;padding:.5em;margin-top: 20px;}

tr{ background:white;border-bottom: 1px solid silver;}

th{background:#E6EEF7;}


