<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<div class="user_announce">
<p>欢迎来到物流零距离-W090!</p>
<p>轻松注册后我能够：</p>
<p>免费搜索/发布大量的 货 源信息</p>
<p>免费搜索/发布大量的 车 源信息</p>
<p>你还可以在线议价和交易.</p>
<p>网络让货主和车主零距离！</p>
<p style="font-size:smaller;margin-left: 50px;">-全聚通网络技术有限公司倾情奉献</p>


</div>
