<%#
form_tag(url_for_options = {}, options = {}, *parameters_for_url, &block)
%>


<form class="show_form cssform" action="/users/pwreset">


  <p>
    <input id="username" name="username" type="hidden" value=<%=params[:username]%> />
  </p>

  <p>
    <label for="password">设置新密码:</label>
    <input id="password" name="password" type="password" />
  </p>

  <p>
    <label for="password_confirmation">新密码确认:</label>
    <input id="password_confirmation" name="password_confirmation" type="password" />
  </p>



  <p>
    <input type="submit" class="submit_button" value="更改密码" />
  </p>
  <p>
    <label class="error"><%=flash[:notice]%></label>
  </p>
  <div class="form_main"></div>

</form>

