  <%user=User.find(session[:user_id]) unless session[:user_id].nil?%>
<% unless user.nil? %>
  <%ustatistic=user.ustatistic%>
<%end%>
<hr id="head_line">
     <table class="navi">
         <tr>
         <td> <a  href="/admin/">总体情况</a></td>
         <td class="navi_scan">
               <a class="navi_scan_link" href="/scans/scaninfo">扫描信息(<%=h Scan.count%>)</a>
               <a class="navi_scan_link" href="/admin/moveinfo">迁移信息(<%=h Move.count%>)</a>
              <!--  <a class="navi_scan_link" href="/scans/uinfoscan">用户有效货/车扫描</a>-->
                 <a class="navi_scan_link" href="/admin/hourscaninfo">小时信息</a>
         </td>
         <td class="navi_grasp">
              <a class="navi_scan_link" href="/admin/tf56grasp">tf56采集信息(<%=h GraspRecord.count%>)</a>
              <a class="navi_scan_link" href="/admin/quzhougrasp">quzhou采集信息</a>    
               <a class="navi_scan_link" href="/lib_companies">公司采集信息(<%=LibCompany.count%>)</a> 
         </td>  
         <td class="navi_user">
               <a class="navi_scan_link" href="/users/">用户管理</a>
               <a class="navi_scan_link" href="/companies/admin">公司管理</a>
        </td>

         </tr>
  </table>