    <span id="float_show" style="display:none;width:auto;">
         <div>
             <a id="close1" class="float_close"  style="width:auto;" href="">关闭</a>
            
         </div>
      <div id="float_load" style="width:auto;"></div>

    </span>
     <span id="float_show2" style="display:none;width:auto;">
         <div>
             <a id="close2" class="float_close2" style="width:auto;"  href="">关闭</a>          
         </div>
      <div id="float_load2" style="width:auto;" ></div>
    </span>