

<div class="bottom_link">

  <%unless @company%>
  <a class="page_navi_link" href="/companies/new">添加我的公司</a>
  <%else%>

  <a class="page_navi_link" href="/companies/show/<%=@company.id%>">我的公司</a>
  <a class="page_navi_link" href="/companies/index/<%=@company.id%>/vendor">我的车源供应商</a>
  <a class="page_navi_link" href="/companies/index/<%=@company.id%>/custermer">我的货源客户</a>
  <a class="page_navi_link" href="/companies/<%=@company.id%>/edit">更新我的公司</a>
  <%end%>

</div>
